/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS toàn cục có thể thêm ở đây nếu cần */
body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

@layer base {
  .font-sans {
    font-family: 'Inter', sans-serif;
  }
  .font-mono {
    font-family: 'Roboto Mono', monospace;
  }
}